*{
    margin: 0px;
    padding: 0px;   
}

.cardi {
    background-color: bisque;
    height: 950px;
}

.card1 {
    border-radius: 0px 0px 25px 25px;
    display: flex;
    background-color:white;
    align-items: center;
    width: 80%;
    height: 100px;
    margin-left: 170px;
}

.card1 li{
    font-size: 20px;
}

.card1 a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
    padding: 60px;
}

ul {
    display: flex;
}

i {
    padding: 50px;
    margin-left: 450px;
}

.logo {
    font-size: 40px;
    color: black;
}

.text1{
    display: flex;
    justify-content: space-around;
}

.text1 h2{
    color: black;
    font-size: 55px;
    font-family: 'tahoma';
    padding: 80px;
}

.tombol {
    padding-left: 85px;
}

.tombol a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: -50px;
}

.tombol a{
    /* text-decoration: none; */
    border-radius: 10px;
    color: black;
    position: relative;
    transition: all 3.s;
    padding: 20px;
    background-color: white;
}

.tombol p{
    /* margin-top: -200px; */
    padding-left: 30px;
    margin-top: -30px;
}

.text1 img {
    width: 450px;
    height: 400px;
    /* margin-left: 850px;
    margin-top: -200px; */
    border-radius: 60px 0px 60px 0px;
    margin-top: 40px;
}

.isicard img {
    border-radius: 100%;
    /* margin-bottom: 30px; */
    height: 300px;
    /* padding: 10%; */
    margin-top: 65px;
    margin-left: 45px;
}

.allcard {
    background-color: white;
    height: 400px;
}

.allcard h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 45px;
}

.allcard h3 {
    text-align: center;
}

.allcard1 {
    display: flex;
    padding-top: 20px;
    margin-left: -140px;
}

.allcard1 img {
    margin-left: 180px;
    margin-top: 40px;
    width: 200px;
    height: 210px;
}

.allcard1 article {
    padding-top: 120px;
}

.box2 {
    background-color: bisque;
    height: 1120px;
}

.box2 h1{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}

.box {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.box img {
    height: 230px;
    width: 250px;
    border-radius: 20px 20px 0px 0px;
}

.box-text{
    width: 250px;
    height: 70px;
    /* font-size: 13px; */
    border-radius: 0px 0px 20px 20px;
    background-color: burlywood;
}

.box-text h2 {
    padding-left: 15px;
    font-size: 18px;
    color: black;
    padding-top: 7px;
}

.box-text p{
    padding-left: 15px;
    color: black;
    font-size: 15px;
}

.kumpul1 {
    /* margin-left: 100px; */
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-top: 10px;
}

.kumpul2 {
    /* margin-left: -100px; */
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-top: 10px;
}

.kumpul3 {
    /* margin-left: -100px; */
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-top: 10px;
}

.box3 a{
    text-decoration: none;
    font-size: 15px;
}

.box3 a{
    text-decoration: none;
    border-radius: 10px;
    color: white;
    position: relative;
    transition: all 3.s;
    padding: 20px;
    background-color: black;
}

.container {
    display: flex;
}

.text h2 {
    text-align: center;
    font-size: 45px;
    padding-top: 20px;
}

.text p {
    text-align: center;
    padding-top: 10%;
}

.text article {
    text-align: center;
    padding-top: 13%;
}

.bwh p{
    text-align: left;
}

.bwh4 {
    justify-content: center;
    flex-direction: column;
}
 .bwh4 p {
    text-align: center;
    margin-top: 80px;
 } 
footer {
    background-color: bisque;
    height: 250px;
    width: 100%;
    padding-top: 25px;
}

/* .sosial-link a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    padding-left: 110px;
    gap: 20px;
} */

.boxfooter{
    display: flex;
    justify-content: space-around;
}
